<% if !defined?(bookmark) %>
  <% bookmark = Bookmark.new %>
<% end %>

<div class="add-bookmark">
  <%= form_for bookmark, html: {class: 'form-inline'} do |f| %>
    <%= f.url_field :url, class: 'url-input form-control' %>
    <%= f.submit "Add", class: 'btn btn-primary' %>
  <% end %>
</div>
