<h1>Bookmark</h1>

<%= render 'add_new' %>

<br>

<div>
  URL: <%= link_to @bookmark.url, @bookmark.url %>
</div>

<div>
  <h2>Info</h2>

  <% if @bookmark.source.github? %>
    <ul>
      <% @bookmark.info.each do |key, value| %>
        <li>
          <strong><%= key.capitalize %></strong>:
          <%= value %>
        </li>
      <% end %>
    </ul>
  <% else %>
    <p>
      No info available at this time.
    </p>
  <% end %>
</div>
