<% nav_item = lambda do |text, url|  %>
  <% content_tag :li, class: ('active' if current_base_url?(url)) do %>
    <% link_to text, url %>
  <% end %>
<% end %>

<nav class="navbar navbar-default" role="navigation">
  <div class="navbar-header">
    <%= link_to 'Libmarks', root_path, class: 'navbar-brand' %>
  </div>

  <div class="navbar-collapse collapse">
    <ul class="nav navbar-nav">
      <%= nav_item.call('All bookmarks', bookmarks_path) %>
      <%= nav_item.call('Add a new bookmark', new_bookmark_path) %>
      <%= nav_item.call('Batch-add bookmarks', new_batch_bookmarks_path) %>
    </ul>
  </div>
</nav>
