<h1>Sign in with your social networks</h1>

<%= render 'shared/social_connect' %>

<div class="clear"></div>

<hr>

<h2>What is this all about?</h2>

<p>
  In short: A site for bookmarking programming libraries. Check out the
  <%= link_to 'source code', 'http://github.com/AndrewRadev/libmarks' %>
  on Github.
</p>

<p>
  Every time I encounter an interesting new library, I bookmark it in a special
  folder in my browser bookmarks. This doesn't scale very well. It's hard to
  discover libraries, hard to see which ones have recently updated, and which
  ones' development has stalled. You can't organize them very well or search
  them or sort them by different criteria. Technically, with some fooling
  around, you might be able to, but it could probably be done in a more
  convenient way.
</p>

<p>
  That's why I started this simple website to act as a better bookmark holder
  for libraries.
</p>

<p>
  Another inspiration was the
  <%= link_to 'The Ruby Toolbox', 'https://www.ruby-toolbox.com/' %>.
  It's an excellent resource for popular ruby libraries, categorizing them and
  showing additional info, but there's no way to bookmark libraries there as
  personal favorites.
</p>
