<% page = (params[:page] || 1).to_i %>

<p>
  <% if page > 1 %>
    <%= link_to 'Prev', url_for(page: page - 1) %>
  <% else %>
    Prev
  <% end %>

  |
  Page: <%= page %>/???
  |

  <% if true or (projects.has_next_page?) %>
    <%= link_to 'Next', url_for(page: page + 1) %>
  <% else %>
    Next
  <% end %>
</p>

<ul>
  <% projects.each do |project| %>
    <li><%= link_to project.name, project.homepage_url %></li>
  <% end %>
</ul>
