<% if logged_in? %>
  <p>
    <%# TODO (2016-02-15) Use the controller for this %>
    <%= render 'github_projects', projects: GithubProjects.new(current_user).fetch(page: params[:page]) %>
  </p>
<% else %>
  <p>Not logged in</p>
<% end %>
