<% if logged_in? %>
  <p>
    <%= link_to 'Refresh project list', project_updates_path, method: :post %>
  </p>

  <p>
    <%= render 'github_projects', projects: current_user.projects.order('name') %>
  </p>
<% else %>
  <p>Not logged in</p>
<% end %>
