<% if !defined?(bookmark) %>
  <% bookmark = UserBookmark.new %>
<% end %>

<div class="bookmark-form-box">
  <%= form_for bookmark, html: {class: 'form-inline'} do |f| %>
    <%= f.url_field :url, class: 'url-input form-control', placeholder: 'URL' %>
    <%= f.text_field :tag_list, class: 'tags-input form-control', placeholder: 'Tags' %>
    <%= f.submit "Add", class: 'btn btn-primary' %>
  <% end %>
</div>
