<h1>Add a bookmark</h1>

<div>
  <% if @bookmark.errors.present? %>
    <h3>There were problems saving the bookmark:</h2>

    <% @bookmark.errors.full_messages.each do |message| %>
      <%= message %>
    <% end %>
  <% end %>
</div>

<%= render 'add_new', bookmark: @bookmark %>
